@font-face {
	font-family: "Fast Hand";
	src: url("./fonts//Fast_Hand.otf");
}

:root {
	--color-yellow: #f6ac0e;
}

html {

}

body {
	background-color: rgb(11, 15, 25);
}

canvas {
	
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Fast Hand' !important;
}

#phaser-game {
	width: 100%;
	height: 100%;
}



@media only screen and (max-width: 860px) and (orientation:landscape)  {
    
}

@media only screen and (max-width: 768px) and (orientation:landscape)  {
    
}

@media only screen and (max-width: 960px) and (orientation: portrait)  {
    .has-atomic {
		transform: rotate(90deg) !important;
		top: 50% !important;
		left: -100px !important;
	}

	.shield {
		right: 0 !important;
		left: 0 !important;
		bottom: 16px !important;
		justify-content: center !important;
	}

	.bullet {
		right: 0 !important;
		left: 0 !important;
		bottom: 32px !important;
		justify-content: center !important;
	}

	.shield-bar {
		transform: rotate(0) !important;
	}

	.bullet-bar {
		transform: rotate(0) !important;
	}
}

